<!doctype html>
<html>
	<head>
		<title>Denver Homicide Chart</title>
		<script src="http://extras.denverpost.com/frameworks/charts/chart.js"></script>
        <link rel="stylesheet" type="text/css" href="homicide-report.css" />       
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<div class="legend-container">
            <div class="legend year2010">2010</div>
            <div class="legend year2011">2011</div>
            <div class="legend year2012">2012</div>
            <div class="legend year2013">2013</div>
            <div class="legend year2014">2014</div>
            <div class="legend year2015">2015</div>
        </div>
	<script>
		var data = {
    labels: ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [
        {
            label: "2010",
            fillColor: "rgba(179,88,6,1)",
            strokeColor: "rgba(179,88,6,1)",
            pointColor: "rgba(179,88,6,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [0,2,2,3,3,5,6,9,9,13,18,22,27]
        },
        {
            label: "2011",
            fillColor: "rgba(224,130,20,1)",
            strokeColor: "rgba(224,130,20,1)",
            pointColor: "rgba(224,130,20,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [0,3,5,7,11,16,19,20,27,32,33,36,38]
        },
        {
            label: "2012",
            fillColor: "rgba(253,184,99,1)",
            strokeColor: "rgba(253,184,99,1)",
            pointColor: "rgba(253,184,99,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [0,1,4,8,11,13,16,17,19,20,25,28,28]
        },
        {
            label: "2013",
            fillColor: "rgba(178,171,210,1)",
            strokeColor: "rgba(178,171,210,1)",
            pointColor: "rgba(178,171,210,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [0,4,6,9,14,16,17,21,25,28,32,34,36]
        },
        {
            label: "2014",
            fillColor: "rgba(128,115,172,1)",
            strokeColor: "rgba(128,115,172,1)",
            pointColor: "rgba(128,115,172,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [0,2,3,7,8,10,12,15,20,21,24,27,28]
        },
        {
            label: "2015",
            fillColor: "rgba(84,39,136,1)",
            strokeColor: "rgba(84,39,136,1)",
            pointColor: "rgba(84,39,136,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [0,5,8,13,15]
        }
    ]
};
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(data, {
			// Add chart options below
            responsive: true,
            bezierCurve: false,
            datasetFill: false
		});
	}
    Chart.defaults.global.multiTooltipTemplate = "<%= datasetLabel %>: <%= value %>"
	</script>
	</body>
</html>
